*{
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    
    box-sizing: border-box;
    border-collapse: collapse;
}

[hidden] { /* http://lists.whatwg.org/pipermail/whatwg-whatwg.org/2014-May/254198.html */
    display: none !important;
}


html, body{
    padding: 0;
    margin: 0;
}

/* For non-documents */
ul, ol, menu{
    list-style: none;

    margin: 0;
    padding: 0;
}

li{
    margin: 0;
    padding: 0;
}

.table-layout{
    display: table;
}
.table-layout > *{
    display: table-row;
}
.table-layout > * > *{
    display: table-cell;
}
            
