*{
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  
  box-sizing: border-box;
  border-collapse: collapse;
}

/* For non-documents */
ul, ol, menu{
  list-style: none;
}

li{
  margin: 0;
  padding: 0;
}

.table-layout{
    display: table;
}
.table-layout > *{
    display: table-row;
}
.table-layout > * > *{
    display: table-cell;
}
            
