/*
  http://www.paulirish.com/2012/box-sizing-border-box-ftw/
*/
*, *:before, *:after {
    box-sizing: border-box;
    /* if you really care about older browsers, add prefixed versions at your own risks */
    
    overflow: auto; /* http://bocoup.com/weblog/new-overflow-default/ */
}

/*
  Repeating the background mostly makes sense in the <body>. Otherwise, people usually want the image and preferably its center (not the top-right corner)
*/
*:not(body) {
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

/*
  Makes the hidden attribute works even when an element is styled display: flex
  http://lists.whatwg.org/pipermail/whatwg-whatwg.org/2014-May/254198.html
*/
[hidden] {
    display: none !important;
}


html, body {
    padding: 0;
    margin: 0;
}

/*
  In applications, there can be lists but HTML lists have bullet points and a bunch of useless styling attributes 
*/
ul, ol, menu {
    list-style: none;

    margin: 0;
    padding: 0;

}
li {
    margin: 0;
    padding: 0;
}

/* empty divs being invisible is an annoying default */
div:empty{
  width: 300px;
  height: 100px;
  
  background-color: rgb(224, 174, 224);
}


/*
  fairly classic thing to do
*/
.table-layout {
    display: table;
}
.table-layout > *, .table-row-layout {
    display: table-row;
}
.table-layout > * > *, table-row-layout > * {
    display: table-cell;
    vertical-align: top;
}

* {
    border-collapse: collapse;
}

            

